# vim: set filetype=python:
# pylint: disable=C0111,C0305,E0602
# ANSIBLE-MANAGED CONFIGURATION FILE
# Set Up:      https://qutebrowser.org/doc/help/configuring.html
# All Options: https://qutebrowser.org/doc/help/settings.html

################################################################################
# CONFIG SOURCES
################################################################################

# don't load any config done in qutebrowser GUI (only use config.py)
config.load_autoconfig(False)

################################################################################
# SAVE / QUIT
################################################################################

# when to confirm quitting qutebrowser
config.set('confirm_quit', ['{{ qutebrowser_confirm_quit }}'])

# save open tabs, and restore them on next qutebrowser session
config.set('auto_save.session', {{ 'True' if qutebrowser_save_and_restore_tabs else 'False' }})

################################################################################
# FONTS
################################################################################

# default monospace font
config.set('fonts.default_family', ['{{ qutebrowser_default_monospace_font }}'])

################################################################################
# TABS
################################################################################

# which tab to select when the focused tab is removed
config.set('tabs.select_on_remove', '{{ qutebrowser_tab_select_on_remove }}')

