# vim: set filetype=python:
# pylint: disable=C0111,C0305,E0602
# ANSIBLE-MANAGED CONFIGURATION FILE
# Set Up:      https://qutebrowser.org/doc/help/configuring.html
# All Options: https://qutebrowser.org/doc/help/settings.html

################################################################################
# CONFIG SOURCES
################################################################################

# don't load any config done in qutebrowser GUI (only use config.py)
config.load_autoconfig(False)

################################################################################
# SAVE / QUIT
################################################################################

# save open tabs, and restore them on next qutebrowser session
config.set('auto_save.session', {{ 'True' if qutebrowser_save_and_restore_tabs else 'False' }})

################################################################################
# FONTS
################################################################################

# default monospace font
config.set('fonts.default_family', ['{{ qutebrowser_default_monospace_font_family }}'])

# fonts for various UI elements
config.set('fonts.tabs.selected', '{{ qutebrowser_tab_bar_font }}')
config.set('fonts.tabs.unselected', '{{ qutebrowser_tab_bar_font }}')
config.set('fonts.hints', '{{ qutebrowser_hints_font }}')
config.set('fonts.keyhint', '{{ qutebrowser_hints_font }}')
config.set('fonts.downloads', '{{ qutebrowser_downloads_bar_font }}')
config.set('fonts.completion.category', '{{ qutebrowser_completion_categories_font }}')
config.set('fonts.completion.entry', '{{ qutebrowser_completion_text_font }}')

################################################################################
# COLORS
################################################################################

# tab-bar colors
config.set('colors.tabs.bar.bg', '{{ qutebrowser_tab_bar_bg_color }}')
config.set('colors.tabs.selected.even.bg', '{{ qutebrowser_tab_bar_active_tab_bg_color }}')
config.set('colors.tabs.selected.odd.bg', '{{ qutebrowser_tab_bar_active_tab_bg_color }}')
config.set('colors.tabs.selected.even.fg', '{{ qutebrowser_tab_bar_active_tab_fg_color }}')
config.set('colors.tabs.selected.odd.fg', '{{ qutebrowser_tab_bar_active_tab_fg_color }}')
config.set('colors.tabs.even.bg', '{{ qutebrowser_tab_bar_inactive_tab_bg_color }}')
config.set('colors.tabs.odd.bg', '{{ qutebrowser_tab_bar_inactive_tab_bg_color }}')
config.set('colors.tabs.even.fg', '{{ qutebrowser_tab_bar_inactive_tab_fg_color }}')
config.set('colors.tabs.odd.fg', '{{ qutebrowser_tab_bar_inactive_tab_fg_color }}')

################################################################################
# TABS
################################################################################

# which tab to select when the focused tab is removed
config.set('tabs.select_on_remove', '{{ qutebrowser_tab_select_on_remove }}')

# padding around title/text in each tab, in points
config.set('tabs.padding', {
  'top': {{ qutebrowser_tab_text_padding_top_px }},
  'bottom': {{ qutebrowser_tab_text_padding_bottom_px }},
  'left': {{ qutebrowser_tab_text_padding_left_px }},
  'right': {{ qutebrowser_tab_text_padding_right_px }}
})

# vertical page-loading progress indicator bar placed to left of tab title text
config.set('tabs.indicator.width', {{ qutebrowser_tab_indicator_bar_width_px }})

################################################################################
# DOWNLOADS
################################################################################

# qutebrowser will download files to this directory
config.set('downloads.location.directory', '{{ qutebrowser_user_download_dir }}')

################################################################################
# SCROLLBAR
################################################################################

# show a scrollbar
config.set('scrolling.bar', '{{ qutebrowser_show_scrollbar }}')

